.env
!.env.example

# vscode 設定のうち、共有すべきものは追跡に含める
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/launch.json

# VitePress
**/.vitepress/cache
**/.vitepress/dist
node_modules

# Python
__pycache__/
*.py[cod]

# dotenv
.env
!.env.example
